<!DOCTYPE html>
<html lang="en" ng-app="workoutApp">
<head>
  <meta charset="UTF-8">
  <title>Gym-Hero</title>
</head>
<body ng-controller="HomeCtrl as app">

<!-- {{ app.fireLink}} -->


<header>

</header>
<!--
<p>Login with Twitter?</p>
   <button ng-click="auth.$login('twitter')">Login</button> -->

   <p>Login with Twitter?</p>
      <button ng-click="app.login('twitter')">Login</button>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="https://cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/home.controller.js"></script>

</body>
</html>
