body {
  text-align: center;
  color:lightgrey;
}
#strip {
  height:1vh;
}
.brand-logo {
  font-size:100em;
}
.intro {
  background:#BDBDBD;
  height:625px;
  padding-top:-700px;
}
.center-btn {
  text-align: center;
  width:100%;
 }
 select {
   display:block;
 }
 span {
   font-size:1em;
   /*color:blue;*/
 }
 #welcome {
      /*margin-top: 10px;*/
 }
 .section {
   padding-bottom: 0;
 }
 .btn-large {
    height: 70px;
    line-height: 26px;
    background-color: #26a69a;
}
#disabled{
    background-color: #26a69a;
}
#user {
  border-radius: 50%;
  margin: 0 auto;
  width: 60px;
  height: auto;
}
footer {
  height:100vh:
  background-color:black;
}
 /*.intro {
   height:100vh;
   font-weight: 900;
	text-transform: uppercase;
 }*/

/*.container {
  margin:0 auto;
}
h1 {
   padding:10px
}
hr {
  width:50%;
  padding:10px
}
img {
  border-radius: 60%;
  border:1px solid lightgrey;
  margin:0 auto;
  display:block;
  margin-bottom:70px;
}
.btn {
  padding:10px 70px;
}*/

#app-views.ng-enter, #app-views.ng-leave, #workout-view.ng-enter, #workout-view.ng-leave     {
    position:absolute; left:30px; right:30px;
    transition:0.1s all ease; -moz-transition:0.2s all ease; -webkit-transition:0.2s all ease;
}

#app-views.ng-enter, #workout-view.ng-enter               {
    -webkit-animation:slideInRight 1s both ease;
    -moz-animation:slideInRight 1s both ease;
    animation:slideInRight 1s both ease;
}

/* leave animation */
#app-views.ng-leave, #workout-view.ng-leave          {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
