<form name="myForm">
  <h5>Please choose your exercise from the drop down below</h5>

  <!-- <select class="black" ng-model="move.selected" ng-options="move as move for move in move.filtered">
  </select>
  <h2>{{ move.selected }}</h2> -->

  <select class="black" ng-model="move.muscleList" ng-options="muscle as muscle for muscle in move.muscleList">
  </select>
  <h2>{{ move.selected }}</h2>
    <h3>{{ muscle }}</h3>


<input type="text" ng-model="move.reps" placeholder="Reps" >
<input type="text" ng-model="move.weight" placeholder="Weight/kg" >
<input type="text" ng-model="move.sets" placeholder="Sets" >


</form>

<button class="btn waves-effect waves-light green lighten-3" ng-click="move.addExercise()">Add Movement</button>
<button class="btn waves-effect waves-light purple lighten-3" ng-click="move.saved()">Save</button>

<button class="btn waves-effect waves-light green lighten-3" ng-if="move.added" ui-sref="createWorkout.chooseMuscleGroup">Go Back?</button>
