<div class="intro lighten-1 z-depth-1">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Choose your muscle group! </h4></li>
      <li class="collection-item" ng-model="move.chest">
        <div>Chest
          <a ui-sref="createWorkout.addMovement({muscle: 'chest'})">
            <i class="material-icons">send</i>
        </a>
      </div>
    </li>

    <li class="collection-item" ng-model="move.legs">
      <div>Legs
        <a ui-sref="createWorkout.addMovement({muscle: 'legs'})">
          <i class="material-icons">send</i>
      </a>
    </div>
  </li>

    <li class="collection-item" ng-model="move.arms">
      <div>Arms
        <a ui-sref="createWorkout.addMovement({muscle: 'arms'})">
          <i class="material-icons">send</i>
      </a>
    </div>
  </li>

    <li class="collection-item" ng-model="move.shoulders">
      <div>Shoulders
        <a ui-sref="createWorkout.addMovement({muscle: 'shoulders'})">
          <i class="material-icons">send</i>
      </a>
    </div>
  </li>

    <li class="collection-item" ng-model="move.chest">
      <div>Abs
        <a ui-sref="createWorkout.addMovement({muscle: 'abs'})">
          <i class="material-icons">send</i>
      </a>
    </div>
  </li>
</ul>
</div>
