<div>
  <h2>Your Previous Workouts</h2>

  <div class="collection">
      <a href="#!" class="collection-item">First
        <span class="new badge">1</span>
      </a>
      <a href="#!" class="collection-item">Second
        <span class="new badge">4</span>
      </a>
      <a href="#!" class="collection-item">Third
        <span class="badge">14</span>
        </a>
      <a href="#!" class="collection-item">Fourth
        <span class="badge">14</span>
      </a>
    </div>

  <!-- <h5 ng-if="move.name" class="left">Exercise: <span class="center blue-text">{{ move.name }}</span></h5>
  <h5 ng-if="move.reps">Reps <span class="center blue-text">{{ move.reps}}</span>
  <h5 ng-if="move.weight">Weight<span class="center blue-text">{{ move.weight}}</span></h5></h5> -->
<div ng-repeat="move in app.movements | limitTo:100" >
</div>

</div>
