<!-- <div class="container ">
  <div class="section">
  <div class="row">
    <div class="col s12 m12">
      <div class="icon-block">
      <h2 class="center grey-text">
        <i class="medium material-icons">perm_identity</i>
      </h2>
    </div>
    </div>

    <div class="container valign wrapper">
      <div class="col s12 m12">
      <div class="center-btn valign center">
        <h4>Please login below</h4>
        <button class="btn waves-effect waves-light blue lighten-3" ng-click="app.login()">
          <i class="material-icons left">https</i>
          <a class="white-text">Login with Twitter?</a></button>
        </div>
          <button ng-if="app.user" class="btn waves-effect waves-light blue lighten-3" ng-click="app.logout()">
            <i class="material-icons left">https</i>
            <a  class="white-text">Logout</a></button>
    </div>
    </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div ng-if="app.loading">
    <div class='triangles'>
    <div class='tri invert'></div>
    <div class='tri invert'></div>
    <div class='tri'></div>
    <div class='tri invert'></div>
    <div class='tri invert'></div>
    <div class='tri'></div>
    <div class='tri invert'></div>
    <div class='tri'></div>
    <div class='tri invert'></div>
  </div>
</div>
<div ng-hide="app.loading" id="circle" >
  <h5 id="greeting">Welcome to Gym Hero!</h5>
  <h5 ng-if="app.loading" id="greeting">Signing In...</h5>
  <img src="app/Logo.png" alt="">
  </div>
</div>

<div id="sign-in" class="container">
 <h6>SIGN IN</h6>
  </div>

<ul class="collection">
      <li ng-click="app.login()" class="collection-item"><i class="fa fa-twitter"></i>TWITTER</li>
      <li class="collection-item"><i class="fa fa-facebook"></i>FACEBOOK</li>
    </ul>
