<div class="container ">
  <div class="section">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
      <h2 class="center grey-text">
        <i class="material-icons">flash_on</i>
      </h2>
    </div>
    </div>

    <div class="container valign wrapper">
      <div class="col s12 m4">
      <div class="center-btn valign center">
        <label for="">Please choose a user name</label>
        <input type="text" ng-model="app.userName">
        <button class="btn waves-effect waves-light blue lighten-3" ng-click="app.login()">
          <i class="material-icons left">https</i>
          <a ui-sref="home" class="white-text">Login with Twitter?</a></button>

            <!-- Id is: {{ app.users }} -->
          <!-- <button class="btn waves-effect waves-light blue lighten-3" ng-click="app.logout()">
            <i class="material-icons left">https</i>
            <a ui-sref="home" class="white-text">Logout</a></button> -->
    </div>
    </div>
    </div>
  </div>
</div>

<!-- <h4 ng-show="show" class="valign center-block" >Logged in!</h4> -->
