<div class="container ">
  <div class="section">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
      <h2 class="center grey-text">
        <i class="medium material-icons">perm_identity</i>
      </h2>
    </div>
    </div>

    <div class="container valign wrapper">
      <div class="col s12 m4">
      <div class="center-btn valign center">
        <h4>Hello! Please login below</h4>

        <button class="btn waves-effect waves-light blue lighten-3" ng-click="app.login()">
          <i class="material-icons left">https</i>
          <a class="white-text">Login with Twitter?</a></button>

          <button ng-if="app.user" class="btn waves-effect waves-light blue lighten-3" ng-click="app.logout()">
            <i class="material-icons left">https</i>
            <a  class="white-text">Logout</a></button>
    </div>
    </div>
    </div>
  </div>
</div>
