#welcome {
    /*margin-top: 10px;*/
}
.section {
 padding-bottom: 0;
}
.btn-large {
  height: 80px;
  /*line-height: 26px;*/
  background-color: #26a69a;
  width:100%;
}
#disabled{
  background-color: #26a69a;
}
