#circle {
position:relative;
margin:0 auto;
top:80px;
height:150px;
width:150px;
}
img {
margin:0 auto;
}
#greeting {
position:absolute;
width:100%;
top:150px;
color:black;
}
#sign-in {
position:absolute;
width:100%;
bottom:90px;
color:lightgrey;
}
#authentication {
  position: absolute;
}
.collection {
width:100%;
bottom:-15px;
float:left;
color:black;
}
.collection>li:hover {
color:#26a69a;
-webkit-transition: color ease-out 0.5s;
 -moz-transition: color ease-out 0.5s;
 -o-transition: color ease-out 0.5s;
 transition: color ease-out 0.5s;
 cursor:pointer;
}
.fa-twitter {
color:lightblue;
padding:1px;
}
.fa-facebook {
color: #2A31FF;
padding:1px;
}
