#circle {
position:relative;
margin:0 auto;
top:40px;
width:100%;
  img {
    margin:0 auto;
    margin-bottom:10px;
  }
  #greeting {
    margin:0 auto;
    width:50%;
    color:black;
  }
}

#sign-in {
position:absolute;
width:100%;
bottom:90px;
color:lightgrey;
}
#authentication {
  position: absolute;
}
.collection {
width:100%;
bottom:-15px;
float:left;
color:black;
}
.collection>li:hover {
color:#26a69a;
-webkit-transition: color ease-out 0.5s;
 -moz-transition: color ease-out 0.5s;
 -o-transition: color ease-out 0.5s;
 transition: color ease-out 0.5s;
 cursor:pointer;
}
.fa-twitter {
color:lightblue;
padding:1px;
}
.fa-facebook {
color: #2A31FF;
padding:1px;
}


@media only screen and (min-width: 1000px) {
  #circle{
    top:100px;
    img {
      width:300px;
      margin-bottom:60px;
    }
  }
  #sign-in {
  bottom:400px;
  h6 {font-size:2em;}
  }
  .collection {
    .collection-item {
        background-color: #fff;
        line-height: 1.5rem;
        padding: 60px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
    }
    i {
      font-size:2em;
      padding:20px;
    }
  }
}

// mobile only rules
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    .collection>.collection-item {
      padding: 27px 20px;
    }
}
